body {
    width: 82%;
    color:black;
    background-color:white;
    background-image:url(../Images/bibltest.jpg);
    margin: auto;
    text-align: center;
    padding-top: 10%;
}

t1 {
    font-size: 500%;
    margin: 5%;
}

t3 {
    font-size: 380%;
    margin: 5%;
}

#divtitle{
    margin-bottom: 20%;
}

.text_{
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
}

#inftext{
    color: black;
    background-color: rgba(255, 255, 255, 0.1);
}