body {
    width: 82%;
    color:black;
    background-color:black;
    margin: auto;
    text-align: center;
    padding-top: 10%;
}

footer {
    margin-top: 10%;
    text-align: right;
}

t1 {
    font-size: 500%;
    margin: 5%;
}

t3 {
    font-size: 380%;
    margin: 5%;
    color: rgb(200, 200, 200);
}

.textpres{
    font-size: 240%;
}

#divtitle{
    margin-bottom: 20%;
}

.text_{
    color: white;
}

.divtextbook{
    margin-top: 10%;
}